{% extends "layout.html" %}
{% load static %}

{% block body %}

<h2 style="text-shadow: 2px 2px lightpink;">About</h2>
<br>
<h4 style="text-shadow: 2px 2px;">WELCOME TO "DJANGO BLOG APP"</h4>
<hr>

<h5 style="background-color: #FCEBB6;">
    This is the Django Blog App where user can register with username & password easily. If not registered also, they can view the posted articles. Furthermore, they can easily comment on other articles as well. 
    <br><br>
    If interested, they can create their own articles, update it & can delete it easily!
    <br><br>
    So Enjoy!
</h5>


{% endblock body %}
